* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    padding: 0.5rem;

    display: inline-block;

}

h1 {
    text-align: center;

    font-size: 50px;

    background-color: aqua;

    animation-name: first;

    animation-duration: 4s;

    animation-iteration-count: infinite;
}

h2 {
    text-align: center;

    text-align: justify;

    position: relative;

    animation-name: second;

    animation-duration: 6s;

    animation-iteration-count: infinite;



}

h3 {
    text-align: center;

    text-align: justify;

}

p {
    padding: 1rem 0.2rem .02rem 0.2rem; 

    text-align: center;

}

img {
    width:100%;

   margin-bottom: -2rem;
}

#grid-floats {
    display: block;

    list-style-type: none;

   margin: 0;

   padding: 0;
 
}

#grid-floats .grid-item {

    border: gray 0.1rem solid;

    display: block;

    float: left;

    height: 35rem;
    
    transition: transform .2s;

}

.grid-item:hover {
    transform: scale(1.2); 

    background-color:white;
}

.grid-item:nth-child(1) {
    width: 50% 
}

.grid-item:nth-child(n+2) {
    width: 25%;
}

@media only screen and (min-width:1000px) {
    .grid-item:nth-child(1) img {
        width: 90%;
    }
}

#grid-flex {
    display: flex;

    flex-wrap: wrap;

    list-style-type: none;

    margin: 0;

    padding: 0;
}

#grid-flex .grid-item {
    border: gray 0.1rem solid;

}


@media only screen and (max-width:768px) {
    .grid-item:nth-child(2) {
        width: 50%;
    }
}

@media only screen and (max-width:768px) {
    .grid-item:nth-child(n+3) {
        width: 33.3%;
    }
}

@media only screen and (max-width:375px) {
    .grid-item:nth-child(1) {
        width: 100%;
    }
}

@media only screen and (max-width:375px) {
    .grid-item:nth-child(n+2) {
        width: 50%;
    }
}

@keyframes first {
    from {background-color: aqua; }
    to {background-color: gold; }
}
@keyframes second {
    0% {left: 0px; }
    100% {left: 100px; }
}